<div class="m-4">
    <div class="row">
        <div class="col-md-3 ml-md">
            <label for="numdet"> Cod detalle</label>
            <input [(ngModel)]="detCrea.numdetallefactura"  type="number" class="form-control" id="numdet"
             disabled>
        </div>  
        <div class="col-md-3 ml-md">
            <label for="articulo"> Articulo</label>
            <select  (change)="selArticulo($event)" [(ngModel)]="valBase" class="form-control" id="articulo">
                <option value=0 disabled>Seleccione Cliente</option>
                <option value=0>Seleccione Articulo</option>
                <option *ngFor="let item of listaArticulos" [value]="item.codArticulo">
                    {{item.nombreArticulo}} </option>
            </select>
        </div>
        <div class="col-md-3 ml-md">
            <label for="cant"> Cantidad</label>
            <input [(ngModel)]="detCrea.cantidad"  type="number" class="form-control" id="cant" >
        </div>  
        <div class="col-md-3 ml-md">
            <label for="porc"> Porcentaje</label>
            <input [(ngModel)]="detCrea.porcentajeGanacia"  type="number" class="form-control" id="porc" >
        </div>  
    </div>    
    <div class="text-center">
        <button (click)="adicionaFactura()"  type="button" class="btn btn-primary px-5"
         >nuevo detalle </button>
    </div>
    <div class="d-flex justify-content-center">
        <div class="alert alert-danger" role="alert"  *ngIf="!activado">
            Llenar toda la informacion para poder adicionar el registro
      </div>
    </div>
</div>
<div *ngIf="listDetFactura.length > 0 ; else sindatos" >
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Numero Factura</th>
            <th scope="col">CodDetalle</th>
            <th scope="col">Cod Articulo</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Porcentaje Ganancia</th>
            <th scope="col">Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detFactDt of listDetFactura; let i = index ">
            <th scope="row" style="width: 3%;">{{i + 1}}</th>
            <td style="width: 5%;">{{currenFact}}</td>
            <td style="width: 10%;">{{detFactDt.numdetallefactura}}</td>
            <td style="width: 10%;">{{detFactDt.codArticulo}}</td>
            <td style="width: 10%;">{{detFactDt.cantidad}}</td>
            <td style="width: 10%;">{{detFactDt.porcentajeGanacia}} &nbsp; % </td>
            <td style="width: 10%;"> <i class="fa fa-pencil-square"></i> &nbsp; 
                <i class="fa fa-trash-o"></i></td>
          </tr>
        </tbody>
      </table>
</div>
<ng-template #sindatos>
    <div>
        <p style="font-size: 30px; font-family: cursive; text-align: center;" > Sin Detalles para la factura</p>
    </div>
</ng-template>
