<div class="m-4">
    <div class="row">
        <div class="col-md-3 ml-md">
            <input [(ngModel)]="clienteCrear.nombre"  type="text" class="form-control" id="nom"
            placeholder="Nombre" >
        </div>  
        <div class="col-md-3 ml-md">
            <input [(ngModel)]="clienteCrear.apellido1"  type="text" class="form-control" id="ape1"
            placeholder="Primer Apellido">
        </div>
        <div class="col-md-3 ml-md">
            <input [(ngModel)]="clienteCrear.apellido2"  type="text" class="form-control" id="ape2"
            placeholder="Segundo Apellido">
        </div>
        <div class="col-md-3 ml-md">
            <input [(ngModel)]="clienteCrear.nombreEmpresa" type="text" class="form-control" id="emp" 
            placeholder="Empresa">
        </div>        
    </div>
    <div class="row">
        <div class="col-md-3 ml-md">
            <input [(ngModel)]="clienteCrear.pais" type="text" class="form-control" id="pais" 
            placeholder="pais">
        </div>        
        <div class="col-md-3 ml-md">
            <input [(ngModel)]="clienteCrear.cp" type="text" class="form-control" id="cp" 
            placeholder="Código Postal">
        </div>       
        <div class="col-md-3 ml-md">
            <input [(ngModel)]="clienteCrear.provincia" type="text" class="form-control" id="prov" 
            placeholder="Departamento">
        </div>        
        <div class="col-md-3 ml-md">
            <input [(ngModel)]="clienteCrear.ciudad" type="text" class="form-control" id="city" 
            placeholder="Ciudad">
        </div> 
    </div>
    <div class="row">
        <div class="col-md-3 ml-md">
            <input [(ngModel)]="clienteCrear.direccion" type="text" class="form-control" id="dir" 
            placeholder="Dirección">
        </div>
    </div>
    <div class="text-center">
        <button (click)="crearClient()"  type="button" class="btn btn-primary px-5"
         >Crear</button>
    </div>
    <div class="d-flex justify-content-center">
        <div class="alert alert-danger" role="alert"  *ngIf="!activado">
            Llenar toda la informacion para poder adicionar el registro
      </div>
    </div>
</div>