<div class="m-4">
    <div class="row">
        <div class="col-md-3 ml-md">
            <input [(ngModel)]="articuloCrear.nombreArticulo"  type="text" class="form-control" id="nom"
            placeholder="Nombre articulo" >
        </div>  

        <div class="col-md-3 ml-md">
            <select (change)="selProvedor($event)"  type="text" class="form-control" id="provee">
            <option value=0 disabled>Seleccione Proveedor</option>
            <option value=0 >Seleccione Proveedor</option>
            <option *ngFor="let item of listProvedores" [value]="item.cifProveedor">
                {{item.nombre}} &nbsp; {{item.apellido1}} &nbsp; {{item.apellido2}} </option>
            </select>
        </div>
        <div class="col-md-3 ml-md">
            <input [(ngModel)]="articuloCrear.caracteristica"  type="text" class="form-control" id="carac"
            placeholder="caracteristica">
        </div>
        <div class="col-md-3 ml-md">
            <input [(ngModel)]="articuloCrear.precio" type="number" class="form-control" id="prec" 
            placeholder="precio">
        </div>        
    </div>
    <div class="text-center">
        <button (click)="crearArticulo()"  type="button" class="btn btn-primary px-5"
         >Crear</button>
    </div>
    <div class="d-flex justify-content-center">
        <div class="alert alert-danger" role="alert"  *ngIf="!activado">
            Llenar toda la informacion para poder adicionar el registro
      </div>
    </div>
</div>
