<nav class="navbar navbar-light text-white shadow d-flex justify-content-between">
    <a routerLink='' class="h6 text-white text-decoration-none">Principal</a>
    <div>
      <a class="text-white text-decoration-none pointer" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false"><i class="fa fa-shopping-cart"></i>&nbsp; Sistema de compras</a>
      <div class="btn-group">
        <div class="dropdown-menu dropdown-menu-right">
          <button class="dropdown-item" type="button">Mis datos</button>
          <button class="dropdown-item" type="button">Cerrar sesión</button>
        </div>
      </div>
    </div>
  </nav>
  