<div id="mySidebar" class="sidebar text-white">
    <a class="closebtn" (click)="accionarMenu($event)" style="right: -10px;">
      <div class="container" id="conti">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
    </a>
    <div class="accordion" id="accordion-menu">
      <div id="cabecera-registros">
        <a class="h5 pointer" type="button" data-toggle="collapse" data-target="#item-registros" aria-expanded="true"
          aria-controls="item-registros"> Registros 
        </a>
      </div>
      <div id="item-registros" class="collapse show" aria-labelledby="cabecera-registros" data-parent="#accordion-menu">
        <a routerLink='/registros/clientes' class="h6 text-primary">
          <i class="fas fa-angle-right"></i> Clientes
        </a>
        <a routerLink='/registros/articulos' class="h6 text-primary">
          <i class="fas fa-angle-right"></i> Articulos
        </a>
        <a routerLink='/registros/proveedores' class="h6 text-primary">
          <i class="fas fa-angle-right"></i> Proveedores
        </a>
      </div>
      <div id="cabecera-ventas">
        <a class="h5 pointer collapsed" type="button" data-toggle="collapse" data-target="#item-ventas"
          aria-expanded="false" aria-controls="item-ventas"> Ventas
        </a>
      </div>
      <div id="item-ventas" class="collapse" aria-labelledby="cabecera-ventas" data-parent="#accordion-menu">
        <a routerLink='/ventas/cliente' class="h6 text-primary">
          <i class="fas fa-angle-right"></i> Ventas Cliente
        </a>
      </div>
      <div id="cabecera-consultas">
        <a class="h5 pointer collapsed" type="button" data-toggle="collapse" data-target="#item-consultas"
          aria-expanded="false" aria-controls="item-consultas"> Consultas
        </a>
      </div>
      <div id="item-consultas" class="collapse" aria-labelledby="cabecera-consultas" data-parent="#accordion-menu">
        <a routerLink='/consulta/gastos' class="h6 text-primary">
          <i class="fas fa-angle-right"></i> Gasto por Cliente
        </a>
        <a routerLink='/consulta/articulos' class="h6 text-primary">
          <i class="fas fa-angle-right"></i> Por Articulos
        </a>
      </div>
    </div>
  </div>
  