<app-clienteform></app-clienteform>
<div *ngIf="listClient.length > 0 ; else sindatos" >
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Código</th>
            <th scope="col">Nombre </th>
            <th scope="col">Apellos</th>
            <th scope="col">Empresa</th>
            <th scope="col">Direccion </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let clienteDt of listClient; let i = index ">
            <th scope="row" style="width: 3%;">{{i + 1}}</th>
            <td style="width: 5%;">{{clienteDt.cifCliente}}</td>
            <td style="width: 10%;">{{clienteDt.nombre}}</td>
            <td style="width: 10%;">{{clienteDt.apellido1}} &nbsp; {{clienteDt.apellido2}}</td>
            <td style="width: 10%;">{{clienteDt.nombreEmpresa}}</td>
            <td style="width: 15%;">{{clienteDt.pais}}, &nbsp; {{clienteDt.cp}}, &nbsp; {{clienteDt.provincia}},
                &nbsp; {{clienteDt.ciudad}}, &nbsp; {{clienteDt.direccion}}  </td>
          </tr>
        </tbody>
      </table>
</div>
<ng-template #sindatos>
    <div>
        <p style="font-size: 30px; font-family: cursive; text-align: center;" > Sin datos para la consulta</p>
    </div>
</ng-template>