<app-proveedorform></app-proveedorform>
<div *ngIf="listProvee.length > 0 ; else sindatos" >
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Código</th>
            <th scope="col">Nombre </th>
            <th scope="col">Apellos</th>
            <th scope="col">Empresa</th>
            <th scope="col">Direccion </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let proveeDt of listProvee; let i = index ">
            <th scope="row" style="width: 3%;">{{i + 1}}</th>
            <td style="width: 5%;">{{proveeDt.cifProveedor}}</td>
            <td style="width: 10%;">{{proveeDt.nombre}}</td>
            <td style="width: 10%;">{{proveeDt.apellido1}} &nbsp; {{proveeDt.apellido2}}</td>
            <td style="width: 10%;">{{proveeDt.nombreEmpresa}}</td>
            <td style="width: 15%;">{{proveeDt.pais}}, &nbsp; {{proveeDt.cp}}, &nbsp; {{proveeDt.provincia}},
                &nbsp; {{proveeDt.ciudad}}, &nbsp; {{proveeDt.direccion}}  </td>
          </tr>
        </tbody>
      </table>
</div>
<ng-template #sindatos>
    <div>
        <p style="font-size: 30px; font-family: cursive; text-align: center;" > Sin datos para la consulta</p>
    </div>
</ng-template>