<div class="row">
    <h2>Consulta gasto cliente mayores o iguales a $</h2>
    <div class="col-md-3 ml-md">
        <input [(ngModel)]="montoFiltra"  type="number" class="form-control" id="monto" >
    </div>  
    <button (click)="filtro()"  type="button" class="btn btn-primary px-5">Aplicar</button>
</div>
<div *ngIf="listClientFilt.length > 0 ; else sindatos" >
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Código</th>
            <th scope="col">Nombre </th>
            <th scope="col">Apellos</th>
            <th scope="col">Empresa</th>
            <th scope="col">total </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let clienteDt of listClientFilt; let i = index ">
            <th scope="row" style="width: 3%;">{{i + 1}}</th>
            <td style="width: 5%;">{{clienteDt.cifCliente}}</td>
            <td style="width: 10%;">{{clienteDt.nombre}}</td>
            <td style="width: 10%;">{{clienteDt.apellido1}} &nbsp; {{clienteDt.apellido2}}</td>
            <td style="width: 10%;">{{clienteDt.nombreEmpresa}}</td>
            <td style="width: 15%;">{{clienteDt.total}}</td>
          </tr>
        </tbody>
      </table>
</div>
<ng-template #sindatos>
    <div>
        <p style="font-size: 30px; font-family: cursive; text-align: center;" >
             No hay clientes que cumplen el requisito</p>
    </div>
</ng-template>