<h2>Articulos con mayores ventas</h2>

<table class="table table-striped">
    <thead>
        <tr>
        <th scope="col">Código Articulo</th>
        <th scope="col">Nombre Articulo </th>
        <th scope="col">Cantidad</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ArticuloMaxDt of listArtMax; let i = index ">
        <td style="width: 5%;">{{ArticuloMaxDt.codigo}}</td>
        <td style="width: 10%;">{{ArticuloMaxDt.nombre}}</td>
        <td style="width: 10%;">{{ArticuloMaxDt.cantidad}}</td>
        </tr>
    </tbody>
</table>

<br>
<h2>Articulos con menores ventas</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Código Articulo</th>
            <th scope="col">Nombre Articulo </th>
            <th scope="col">Proveedor </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ArticuloMinDt of listArtMin; let i = index ">
        <td style="width: 5%;">{{ArticuloMinDt.codigo}}</td>
        <td style="width: 10%;">{{ArticuloMinDt.nombre}}</td>
        <td style="width: 10%;">{{ArticuloMinDt.proveedor}} </td>
        </tr>
    </tbody>
</table>