<app-articuloform></app-articuloform>
<div *ngIf="listArticulo.length > 0 ; else sindatos" >
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Código</th>
            <th scope="col">Cod Proveedor </th>
            <th scope="col">Nombre Producto</th>
            <th scope="col">Caracteristica</th>
            <th scope="col">Precio </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let articuloDt of listArticulo; let i = index ">
            <th scope="row" style="width: 3%;">{{i + 1}}</th>
            <td style="width: 5%;">{{articuloDt.codArticulo}}</td>
            <td style="width: 5%;">{{articuloDt.cifProveedor}}</td>
            <td style="width: 15%;">{{articuloDt.nombreArticulo}} </td>
            <td style="width: 20%;">{{articuloDt.caracteristica}}</td>
            <td style="width: 5%;">{{articuloDt.precio}}</td>
          </tr>
        </tbody>
      </table>
</div>
<ng-template #sindatos>
    <div>
        <p style="font-size: 30px; font-family: cursive; text-align: center;" > Sin datos para la consulta</p>
    </div>
</ng-template>