<h2>Datos Factura</h2>
<div class="m-4">
    <div class="row">
        <div class="col-md-3 ml-md">
            <label for="cliente">Fecha de facturacion</label>
            <input [(ngModel)]="facturaCrear.fechaFactura"  type="date" class="form-control" id="fec"
            placeholder="Fecha" >
        </div>  
        <div class="col-md-3 ml-md">
            <label for="cliente">Cliente</label>
            <select  (change)="selCliente($event)"  class="form-control" id="cliente">
                <option value=0 disabled>Seleccione Cliente</option>
                <option value=0>Seleccione Cliente</option>
                <option *ngFor="let item of listaClientes" [value]="item.cifCliente" >{{item.nombre}} &nbsp;
                    {{item.apellido1}} &nbsp; {{item.apellido2}} </option>
            </select>
        </div>
    </div>
    <h2>Datos Detalle Factura</h2>
    <app-ventadetfactura></app-ventadetfactura>
    <div class="text-right">
        <button (click)="crearPedido()"  type="button" class="btn btn-primary px-5"
         >Crear</button>
    </div>
    <div class="d-flex justify-content-center">
        <div class="alert alert-danger" role="alert"  *ngIf="!activado">
            Llenar toda la informacion para poder adicionar el registro
      </div>
    </div>
</div>