#main {
    transition: margin-left .5s;
  }

  #contenido {
    background-color: lightgrey;
    border: 15px solid  #1C2331;
    padding: 50px;
    margin: 20px;
    text-align: justify;
  }

  .firtsContent {
    padding-left: 3%;
    padding-right: 6%;
  }